<!DOCTYPE html>
<html>
 <head>
 <title>Login</title>
 </head>
 <body>
 <h4>Fill all the fields to login</h4>
 <% if (locals.errors) { %>
  <div>
     <%= errors %>
  </div>
  <% } %>
 <form action="/login" method="post" name="logform">
 <label for="login">Enter your login:</label><br>
 <input type="text" name="login" placeholder="Login" required><br>
 <label for="login">Enter your password:</label><br>
 <input type="password" name="password" placeholder="Password" required><br>
 <button type="submit">Send</button>
 </form>
 </body>
</html>