<%- include('header', {title: "Register"}); %>
 <h4>Fill all the fields to register</h4>
 <% if (locals.errors) { %>
 <div>
    <%= errors.join("<br> "); %>
 </div>
 <% } %>

 <form action="/register" method="post" name="regform">
 <label for="login">Choose your login:</label><br>
 <input type="text" name="login" placeholder="Login" required><br>
 <label for="login">Choose your email:</label><br>
 <input type="text" name="email" placeholder="Email" required><br>
 <label for="login">Choose your password:</label><br>
 <input type="password" name="password" placeholder="Password" required><br>
 <label for="login">Confirm your password:</label><br>
 <input type="password" name="confirm_password" placeholder="Confirm your password" required><br>
 <button type="submit"  class="btn btn-primary">Send</button>
 </form>
<%- include('footer'); %>